.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-background-color: #02387A;
    -fx-font-weight: bold;
    }
.table-view .table-row-cell {
    -fx-background-color: #BCC7FE;
    -fx-text-fill: #2c2e33;
    -fx-font-weight: bold;
}
.table-view .table-cell {
    -fx-text-fill: #2c2e33;
    -fx-font-size: 14px;
}
